In [53]:
import pandas as pd
import numpy as np

In [54]:
pd.set_option('display.max_columns', None)
data = pd.read_csv('/Users/willfitzhugh/Desktop/Coding/Supply-Chain-Analysis/Data/Interim/Ready_For_DeliveryTime_Features.csv',
                  parse_dates=['OrderDate'])

In [132]:
#create boolean column for orders placed after noon
data['OrderAfterNoon'] = data.OrderDate.dt.hour >= 12

In [133]:
dums = pd.get_dummies(data[['PaymentType', 'Customer Segment', 'Customer Country', 'ProductDepartment',
                            'Market', 'Shipping Mode']])

data = pd.concat([data,dums], axis=1).drop(columns=['PaymentType', 'Customer Segment', 'Customer Country',
                                                    'ProductDepartment', 'Market','Shipping Mode'])

In [134]:
data = data.drop(columns = ['Customer Id','Latitude','Longitude','CustomerName', 'OrderYear', 'Delivery Status',
                  'Order Status','Order Item Discount','route','late','early','projected_ShipDate',
                 'Late_delivery_risk','OrderMonth','Order Item Profit Ratio','Order Item Discount Rate','Order Id',
                  'ShipDate','OrderSales','OrderProfit','OrderSales','Order Id','ShipDate','Order Status','SchedShipDOW',
                 'Customer State','Customer City','Order City','Order State','Order Country','OrderDate',
                     'Order Region','Product Name','ProductCategory'])

In [135]:
data.OrderAfterNoon = data.OrderAfterNoon.map({True:1,False:0})

In [137]:
data.head(2)

,RealShippingDays,ScheduledShippingDays,Order Item Quantity,Product Price,pc high late risk,pc low late risk,or high late risk,or low late risk,cs high late risk,cs low late risk,OrderAfterNoon,PaymentType_CASH,PaymentType_DEBIT,PaymentType_PAYMENT,PaymentType_TRANSFER,Customer Segment_Consumer,Customer Segment_Corporate,Customer Segment_Home Office,Customer Country_EE. UU.,Customer Country_Puerto Rico,ProductDepartment_Apparel,ProductDepartment_Book Shop,ProductDepartment_Discs Shop,ProductDepartment_Fan Shop,ProductDepartment_Fitness,ProductDepartment_Footwear,ProductDepartment_Golf,ProductDepartment_Outdoors,ProductDepartment_Technology,Market_Africa,Market_Europe,Market_LATAM,Market_Pacific Asia,Market_USCA,Shipping Mode_First Class,Shipping Mode_Same Day,Shipping Mode_Second Class,Shipping Mode_Standard Class
0,5,2,2,59.990002,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
1,2,2,2,39.990002,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0

In [60]:
data.to_csv('/Users/willfitzhugh/Desktop/Coding/Supply-Chain-Analysis/Data/Model/DeliveryData_1.0.csv', index=False)

#### For data with high caridnality:
3 levels:

        - bin customer city, order city, and product name             -most cardinality 
        - bin customer state, order country, and product category
        - bin customer country, order region, and product department  -least cardinality

---
#### Dataset including some info on product category, order region and customer state

In [128]:
data = pd.read_csv('/Users/willfitzhugh/Desktop/Coding/Supply-Chain-Analysis/Data/Interim/Ready_For_DeliveryTime_Features.csv',
                  parse_dates=['OrderDate'])
data.head()

,PaymentType,RealShippingDays,ScheduledShippingDays,OrderProfit,OrderSales,Delivery Status,Late_delivery_risk,ProductCategory,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,ProductDepartment,Latitude,Longitude,Market,Order City,Order Country,OrderDate,Order Id,Order Item Discount,Order Item Discount Rate,Order Item Profit Ratio,Order Item Quantity,Order Region,Order State,Order Status,Product Name,Product Price,ShipDate,Shipping Mode,CustomerName,late,route,projected_ShipDate,SchedShipDOW,OrderMonth,OrderYear,early
0,PAYMENT,5,2,-30.750000,115.180000,Late delivery,1,Cleats,Bayamon,Puerto Rico,9083,Home Office,PR,Apparel,18.380119,-66.183128,Pacific Asia,Mirzapur,India,2016-02-24 13:57:00,28744,4.8,0.04,-0.27,2,South Asia,Uttar Pradesh,PENDING_PAYMENT,Perfect Fitness Perfect Rip Deck,59.990002,2016-02-29 13:57:00,Second Class,Mary Frank,True,Puerto Rico. Pacific Asia,2016-02-26 13:57:00,Friday,2,2016,False
1,PAYMENT,2,2,-122.730003,79.180000,Shipping on time,0,Shop By Sport,Caguas,Puerto Rico,4741,Home Office,PR,Golf,18.235573,-66.370613,Pacific Asia,Bursa,Turqua,2016-10-25 14:39:00,45461,0.8,0.01,-1.55,2,West Asia,Bursa,PENDING_PAYMENT,Under Armour Girls' Toddler Spine Surge Runni,39.990002,2016-10-27 14:39:00,Second Class,Mary Smith,False,Puerto Rico. Pacific Asia,2016-10-27 14:39:00,Thursday,10,2016,False
2,PAYMENT,6,2,33.599998,96.000000,Late delivery,1,Women's Apparel,Caguas,Puerto Rico,639,Home Office,PR,Golf,18.025368,-66.613037,Pacific Asia,Murray Bridge,Australia,2016-03-30 04:37:00,31115,4.0,0.04,0.35,2,Oceania,Australia del Sur,PENDING_PAYMENT,Nike Men's Dri-FIT Victory Golf Polo,50.000000,2016-04-05 04:37:00,Second Class,Elizabeth Pittman,True,Puerto Rico. Pacific Asia,2016-04-01 04:37:00,Friday,3,2016,False
3,PAYMENT,2,2,24.690001,75.980003,Shipping on time,0,Shop By Sport,Caguas,Puerto Rico,9702,Home Office,PR,Golf,18.273838,-66.370636,Pacific Asia,Kartal,Turqua,2016-10-30 01:31:00,45766,4.0,0.05,0.33,2,West Asia,Estambul,PENDING_PAYMENT,Under Armour Girls' Toddler Spine Surge Runni,39.990002,2016-11-01 01:31:00,Second Class,Katherine Tyler,False,Puerto Rico. Pacific Asia,2016-11-01 01:31:00,Tuesday,10,2016,False
4,PAYMENT,3,2,9.100000,91.000000,Late delivery,1,Women's Apparel,Caguas,Puerto Rico,9114,Home Office,PR,Golf,18.284805,-66.370590,Pacific Asia,Ulan Bator,Mongolia,2016-11-28 01:18:00,47752,9.0,0.09,0.10,2,Eastern Asia,Uln Bator,PENDING_PAYMENT,Nike Men's Dri-FIT Victory Golf Polo,50.000000,2016-12-01 01:18:00,Second Class,Mary Smith,True,Puerto Rico. Pacific Asia,2016-11-30 01:18:00,Wednesday,11,2016,False

In [90]:
# note some product category outliers are significantly more or less likely to be late
data.groupby('ProductCategory').mean()[['late']].reset_index().sort_values('late').tail()

        ProductCategory      late
16  Fitness Accessories  0.595469
4            Basketball  0.597015
8              Cameras   0.617391
27             Lacrosse  0.620991
19    Golf Bags & Carts  0.688525

In [129]:
data['pc high late risk'] = (data.ProductCategory.isin(['Cameras','Lacrosse','Golf Bags & Carts'])
                            ).map({True:1,False:0})
data['pc low late risk'] = (data.ProductCategory.isin(['Computers','Baby',"Men's Golf Clubs"])
                            ).map({True:1,False:0})

In [117]:
data.groupby('Order Region').mean()[['late']].reset_index().sort_values('late')

       Order Region      late
0            Canada  0.519291
19      West Africa  0.550054
11          Oceania  0.558081
1         Caribbean  0.558788
16  Southern Africa  0.562662
10  Northern Europe  0.564124
7      Eastern Asia  0.564219
21     West of USA   0.565995
9      North Africa  0.566832
17  Southern Europe  0.566894
18       US Center   0.571259
4      Central Asia  0.571429
12    South America  0.572347
3   Central America  0.572457
8    Eastern Europe  0.574490
5       East Africa  0.574514
20        West Asia  0.574971
15   Southeast Asia  0.579076
6       East of USA  0.579754
14   South of  USA   0.580964
22   Western Europe  0.584305
13       South Asia  0.585904
2    Central Africa  0.607036

In [130]:
data['or high late risk'] = (data['Order Region'].isin(['Central Africa'])
                            ).map({True:1,False:0})
data['or low late risk'] = (data['Order Region'].isin(['Canada'])
                            ).map({True:1,False:0})

In [125]:
data.groupby('Customer State').mean()[['late']].reset_index().sort_values('late')

   Customer State      late
0           91732  0.000000
1              AL  0.454545
24             MT  0.506024
5              CO  0.526059
12             IA  0.531250
3              AZ  0.536207
44             WV  0.538793
16             KS  0.540909
40             UT  0.544181
23             MO  0.546008
13             ID  0.546012
36             RI  0.547826
27             NJ  0.550587
43             WI  0.552826
34             PA  0.557182
21             MI  0.559585
30             NY  0.560989
18             LA  0.561290
15             IN  0.561837
33             OR  0.563004
41             VA  0.564161
17             KY  0.565678
9              FL  0.567598
19             MA  0.568093
35             PR  0.571997
39             TX  0.574317
11             HI  0.578333
4              CA  0.579328
42             WA  0.580537
31             OH  0.580711
29             NV  0.581530
6              CT  0.583096
14             IL  0.583594
26             ND  0.585366
37             SC  0.585516
20             MD  0.592212
10             GA  0.594379
38             TN  0.600261
25             NC  0.602597
22             MN  0.603715
2              AR  0.607595
32             OK  0.618182
7              DC  0.622776
8              DE  0.623016
28             NM  0.630197

In [131]:
data['cs high late risk'] = (data['Customer State'].isin(['NM'])
                            ).map({True:1,False:0})
data['cs low late risk'] = (data['Customer State'].isin(['AL','MT'])
                            ).map({True:1,False:0})

In [138]:
data.to_csv('/Users/willfitzhugh/Desktop/Coding/Supply-Chain-Analysis/Data/Model/DeliveryData_2.0.csv', index=False)